<h1>Registration</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
          <ul class="vlist">
      <% @user.errors.full_messages.each do |message| %>
        <li><div class="errormsg">*<%= message %></div></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="form-group">
    <p><b>Full Name </b><span class="mandatory">*</span></p>
    <%= f.text_field :fullname, class: 'form-control form-content', id: 'txtname', required: true, maxlength:'50', onblur: 'checkFullname(this.value)' %>
  </div>
  <div class="form-group">
    <p><b>Email </b><span class="mandatory">*</span></p>
    <%= f.email_field :email, class: 'form-control form-content', id: 'txtemail', required: true, maxlength:'50', onblur: 'checkEmail(this.value)' %>
  </div>
  <div class="form-group">
    <p><b>Password </b><span class="mandatory">*</span></p>
    <%= f.password_field :password, class: 'form-control form-content', id: 'txtpwd',  required: true, maxlength:'15', onblur: 'checkPassword(this.value)', data: {toggle: "tooltip", placement: "right" }, title: "Please enter a valid password with at least one number, one lowercase letter, one uppercase letter and between 6-15 characters" %>
  </div>
  <div class="form-group">
    <p><b>Password Confirmation </b><span class="mandatory">*</span></p>
    <%= f.password_field :password_confirmation, class: 'form-control form-content', id: 'txtconpwd',  required: true, maxlength:'15', onblur: 'checkConPwd(this.value)' %>
  </div>
  <div class="form-group">
    <p><b>Organisation</b></p>
    <%= f.text_field :organisation, class: 'form-control form-content', id: 'txtorg', required: false, maxlength:'100' %>
  </div>
 <%= f.submit 'Register', class: 'btn btn-primary my-btn' %>
<% end %>